body{
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
    margin:0;
}

header{
	background-color: #6C5B1F;	
	text-align: right;
}

header figure{
    float:left;
}

header figure img{
	width: 190px;
	height: 190px;
}

header h1{
	color: #D1B226;
	float: left;
	font-size: 75px;
	margin-left: 260px;
}
header h2{
	color:black;	
	float:left;
	font-size:35px;
	margin-left: -260px;
	margin-top: 200px;	
	
}

header nav ul{
padding: 0px;
margin-bottom: 0px;
margin-left: 1080px;
text-align: justify;
list-style: none;
width: 30%;
height: 40%

}

header nav ul li{
	display: inline-block;
	height:140px;
	width: 40%;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:10px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-color:black;
    font-size: 19px;
}

header nav ul li p{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: center;	
}
section{
	background: url(../imagenes/FondoPagina.jpg)
}	

section h3{
	float: left;
	font-size:25px;
	margin-bottom: 20px;
	margin-right: 250px;
}
section article.mivida{
	border-style: solid;
	border-width: 2px;
	border-color: #473A0A;
	display: inline-block;
	font-size:1.2em;
	margin: 50px 0px 20px 10% ;
	position: relative;
	vertical-align: top;
	width: 85%
}

section article.mivida figure{
	float:left;
	margin-left:-30px;
	margin-top:-50px;
}

section article.mivida figure img{
	border-style: solid;
     border-width: 5px;
     height: 240px;
     width: 280px;
     border-color: #473A0A;
}	

section article.mivida p figure img{
     border-style: solid;
     border-width: 2px;
     height: 500px;
     width: 700px;
     margin-right: 300px;


}
/**********COLORES MIVIDA********************/
section article.mivida{
	background-color: #C9B366;

}

section article.mivida h3{
	color: #473A0A;
	margin-left: 240px;
}

section article.mivida p{
	color: #6C5B1F;
}
/***********************************************/

footer{
	text-align: center;	
	font-size: 1em;
	background: url(../imagenes/FondoPagina.jpg);
}



