body{
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
}

header{
	background-color: #6C5B1F;	
	text-align: right;
}

header figure{
    float:left;
}

header figure img{
	width: 190px;
	height: 190px;
}

header h1{
	color: #D1B226;
	float: left;
	font-size: 75px;
	margin-left: 260px;
}
header h2{
	color:black;	
	float:left;
	font-size:35px;
	margin-left: -260px;
	margin-top: 200px;	
	
}

header nav ul{
padding: 0px;
margin-bottom: 0px;
margin-left: 1080px;
text-align: justify;
list-style: none;
width: 30%;
height: 40%

}

header nav ul li{
	display: inline-block;
	height:140px;
	width: 40%;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top::;px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-color:black;
    font-size: 19px;
}

header nav ul li p{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: center;	
}

section{
	background: url(../imagenes/FondoPagina.jpg)
}	

section h3{
	float: left;
	font-size:25px;
	margin-bottom: 20px;
	margin-right: 250px;
}
section article.consulta{
	border-style: solid;
	border-width: 2px;
	border-color: #473A0A;
	display: inline-block;
	font-size:1.2em;
	margin: 50px 0px 20px 10% ;
	position: relative;
	vertical-align: top;
	width: 85%
}

section article.consulta figure{
	float:left;
	margin-left:-30px;
	margin-top:-50px;
}

section article.consulta figure img{
	border-style: solid;
     border-width: 5px;
     height: 240px;
     width: 280px;
     border-color: #473A0A;
}	

section article.consulta p figure img{
     border-style: solid;
     border-width: 2px;
     height: 500px;
     width: 700px;
     margin-right: 300px;
}

/**********COLORES DOMINIO********************/
section article.dominio{
	background-color: #C9B366;

}

section article.dominio h3{
	color: #473A0A;
	margin-left: 200px;
}

section article.dominio h4{
	color: #473A0A;
	margin-left: 200px;	

}


section article.dominio p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES TIPOS********************/
section article.tipos{
	background-color: #C9B366;

}

section article.tipos h3{
	color: #473A0A;
	margin-bottom: 50px;
	margin-left: 200px;
	font-size: 40px;
}

section article.tipos h4{
	color: #473A0A;
	text-align: center;	
	margin-bottom: -30px;
	font-size: 27px;

}

section article.tipos h5{
	color: #473A0A;
	margin-left: 520px;
	margin-bottom: -20px;
	font-size: 27px;
}

section article.tipos h6{
	color: #473A0A;
	margin-left: 520px;
	margin-bottom: -20px;
	font-size: 27px;
}


section article.tipos p{
	color: #6C5B1F;
	margin-top: 40px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES HOSTING********************/
section article.hosting{
	background-color: #C9B366;

}

section article.hosting h3{
	color: #473A0A;
	margin-left: 350px;
	margin-top: 50px;
}

section article.hosting h4{
	color: #473A0A;
	margin-left: 650px;	
	margin-bottom: -50px;

}


section article.hosting p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES WEB********************/
section article.web{
	background-color: #C9B366;

}

section article.web h3{
	color: #473A0A;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 0px;
}

section article.web h4{
	color: #473A0A;
	margin-left: 500px;	
	margin-bottom: -50px;

}


section article.web p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES HTTPS********************/
section article.https{
	background-color: #C9B366;

}

section article.https h3{
	color: #473A0A;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 0px;
}

section article.https h4{
	color: #473A0A;
	margin-left: 500px;	
	margin-bottom: -50px;

}


section article.https p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES HTML********************/
section article.html{
	background-color: #C9B366;

}

section article.html h3{
	color: #473A0A;
	margin-left: 180px;
	margin-top: 20px;
	margin-bottom: 0px;
}

section article.html h4{
	color: #473A0A;
	margin-left: 500px;	
	margin-bottom: -50px;
}

section article.html h5{
	color: #473A0A;
	margin-left: 500px;	
	margin-bottom: -50px;
}


section article.html p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES HTTPS********************/
section article.flash{
	background-color: #C9B366;

}

section article.flash h3{
	color: #473A0A;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 0px;
}


section article.flash p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/
/**********COLORES XML********************/
section article.xml{
	background-color: #C9B366;

}

section article.xml h3{
	color: #473A0A;
	margin-left: 190px;
	margin-top: 20px;
	margin-bottom: 0px;
}

section article.xml h4{
	color: #473A0A;
	margin-left: 500px;	
	margin-bottom: -50px;

}


section article.xml p{
	color: #6C5B1F;
	margin-top: 80px;
	margin-left: 30px;
}
/***********************************************/

footer{
	text-align: center;	
	font-size: 1em;
	background: url(../imagenes/FondoPagina.jpg);
}



