body{
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
}

header{
	background-color: #6C5B1F;	
	text-align: right;
}
header figure{
    float:left;
}
header figure img{
	width: 190px;
	height: 190px;
}

header h1{
	color: #D1B226;
	float: left;
	font-size: 55px;
	margin-bottom: 40px;
}
header h2{
	color:black;
	float:left;
	font-size:35px;
	margin-top: 70px;
	margin-left: 150px;

}

header nav ul{
padding: 0px;
margin: 0px;
text-align: center;
list-style: none;

}
header nav ul li{
	display: inline-block;
	height:32px;
	width: 100%; background-repeat: repeat-x;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:5px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-size: 15px;
    font-stretch: 10px;

}

header nav ul li a{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
}	

section{
	background: url(../imagenes/FondoPagina.jpg)
}		

section h3{
	color: ;
	float: left;
	font-size:25px;	
}

section article.Equipamentos{
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	font-size:1.2em;
	margin: 50px 0px 20px 10%;
	position: relative;
	vertical-align: top;
	width: 85%
}
section article.Equipamentos figure{
	float:left;
	margin-left:-30px;
	margin-top:-50px;
}
section article.Equipamentos figure img{
     border-style: solid;
     border-width: 5px;
     height: 140px;
     width: 180px;
 }
 section article.Equipamentos div{
      width: 90%;
      margin:30px 4% 10px 5%;
      border-width: 2px;
      border-style: solid;
      position: relative;
      padding-top: 20px;
      font-size: 1em;
 }
 section article.Equipamentos div span{
 	position: absolute;
 	top: -15px;
 	left: 10px;
 	line-height: 20px;
 	text-decoration: underline;
 	background-color:black;
 	padding:3px 10px;
 	color: white;	
 }
 section article.Equipamentos div ul{
 	list-style: none;
 	margin: 0px;
 	padding: 0px;
 }
 section article.Equipamentos div ul li{
 	font-weight: bolder;
 	vertical-align: middle;
 	display: inline-block;
 	margin:5px 3%;
 	width: 26%;
 }

 section article.Equipamentos h3{
 	padding:0px;
 	text-align: right;
 	margin:-120px 20px 0px 165px;	
 	font-size: 1.2em;
 }

 section article.Equipamentos p{
 	font-size: 1.0em;
 	text-align: justify;
 	margin: 80px 10px 5px 30px
 }

 section article.Equipamentos span.tipo{
 	color:#D1B226;
 	border-style: solid;	
 	border-width: 2px;
 	font-weight: bolder;
 	height: 30px;
 	line-height: 30px;
 	padding:2px 10px;
 	position: absolute;
 	right: -2px;
 	top:-38px;
 }

 section article.ContenidoSlide{
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	font-size:1.2em;
	margin-top:-325px;
	margin-bottom:30px;
	margin-left: 500px;
	margin-right: 15px;
	position: relative;
	vertical-align: top;
	width:61%;
	height: 300px;
	background-color: #D8C362;
}

 section article.ContenidoSlide h4{
 	font-size: 1.8em;
 	border-color: black;
 	margin-top:15px;
 	margin-left: 5px;
 	margin-bottom: -45px;
 	color:#473A0A;
 }

 section article.ContenidoSlide p{
 	font-size: 1.3em;
 	text-align: justify;
 	margin-top: 70px;
 	margin-left: 5px;
 }


/**************************************/
/**************COLORES EQUIPAMENTO*********/
/**************************************/
section article.Equipamento,
section article.Equipamento figure img,
section article.Equipamento div,
section article.Equipamento span.tipo{
	border-color: #473A0A;
}
section article.Equipamento h3{
	color: #473A0A;
	text-align: right;
}

section article.Equipamento span.tipo,
section article.Equipamento div,
section article.Equipamento div span{
	background-color: #726021;
}

section article.Equipamento p{
	color: #6C5B1F;
}

section article.Equipamento{
	background-color: #C9B366;
}

section article.Equipamento div span,
section article.Equipamento div ul li{
	color:#A89242;
	margin:0px 5% 5px 10%;
}

/**************************************/
/**************COLORES VEHICULOS*********/
/**************************************/
section article.Vehiculos,
section article.Vehiculos figure img,
section article.Vehiculos div,
section article.Vehiculos span.tipo{
	border-color: #473A0A;
}
section article.Vehiculos h3{
	color: #473A0A;
	text-align: right;
}

section article.Vehiculos span.tipo,
section article.Vehiculos div,
section article.Vehiculos div span{
	background-color: #726021;
}

section article.Vehiculos p{
	color: #6C5B1F;
}

section article.Vehiculos{
	background-color: #C9B366;
	height: 693px;
}

section article.Vehiculos div span,
section article.Vehiculos div ul li{
	color:#A89242;
	margin:0px 5% 5px 10%;
	height: 59px;
}


/**************************************/
/**************COLORES INFANTERIA*********/
/**************************************/
section article.Infanteria,
section article.Infanteria figure img,
section article.Infanteria div,
section article.Infanteria span.tipo{
	border-color: #473A0A;
}
section article.Infanteria h3{
	color: #473A0A;
}

section article.Infanteria span.tipo,
section article.Infanteria div,
section article.Infanteria div span{
	background-color: #726021;
}

section article.Infanteria p{
	color: #6C5B1F;
}

section article.Infanteria{
	background-color: #C9B366;
}

section article.Infanteria div span,
section article.Infanteria div ul li{
	color:#A89242;
	margin:0px 5% 5px 10%;

}

section div.Guerra{
	width: 30%;
	background-color: #66591E;
	border:1px solid black;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
	padding-bottom: 20px;
	display: none;
	height: 710px;
}

section div.Guerra h2{
	text-align: center;

}

section div.Guerra h3{
	margin-top: -135px;
	margin-left: 70px;
	color: black;

}
section div.Guerra article.Observa{
	width: 95%;
	margin-left: 2%;
	margin-top: 25px;
	border-top: 2px solid:#A18623;

}

section div.Guerra figure{
	float:left;
	margin-top: 0px;
}
section div.Guerra figure img{
	width: 140px;
	height: 80px;
}


section div.Guerra p{
	font-size: 1em;
	margin:1px 1% 25px 1%;
	text-align: left;
	margin-top: 50px;	
}

section div.Guerra video{
	width: 90%;
	margin: 0px 5%;
}

div#contenedor{
	width: 63%;
	position: absolute;
	height: 200px;
	display: none;
	margin-top: 50px;


}

div#contenedor #slider{
	border: 2px solid black;
	margin-bottom: 50px;
	margin-top: -37px;
	margin-left: 70px;
	margin-right: 0px;
	min-height: 550px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	width: 95%;
}

div#contenedor #slider div.elemento{
	left: -500px;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;

}

div#contenedor #slider img{
	border: 0px;
	margin:0px;
	padding: 0px;
	width: 120%;
	height: 100%;
	margin-left: 60%;
} 


div#contenedor #slider div.elemento p.ojo{
	color: black;
	display: block;
	font-size: 1.8em;
	font-weight: bolder;
	line-height: 25px;
	right: 1%;
	top: 5%;
	width: 29%;
	position: absolute;
	text-align: center;
	color: #F9D01B;

}

footer{
	text-align: center;	
	font-size: 1em;
	background: url(../imagenes/FondoPagina.jpg);
}





	

  @media screen and (min-width: 480px){
       header nav ul li{
       	width: 22%;
       }

}

   
  @media screen and (min-width: 767px){
  	header nav ul li{
  		width: 8%;
  	}
  	div#contenedor{
  		display: inline;
  	}
  	section article.Equipamentos{
  		width: 40%
  		margin:50px 3% 20px 6%;
  	}

  }

  @media screen and (min-width: 950px){
  	section article.Equipamentos{
  		width: 26%;
  		margin: 50px 1% 20px 5%;
  	}
  	section div.Guerra{
  		display: inline;
  	}
	
  }	