body{
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
}

header{
	background-color: #6C5B1F;	
	text-align: right;
}

header figure{
    float:left;
}

header figure img{
	width: 190px;
	height: 190px;
}

header h1{
	color: #D1B226;
	float: left;
	font-size: 55px;
}
header h2{
	color:black;	
	float:left;
	font-size:35px;
	margin-left: -800px;
	margin-top: 200px;	
	
}

header nav ul{
padding: 0px;
margin: 0px;
text-align: center;
list-style: none;
}

header nav ul li{
	display: inline-block;
	height:140px;
	width: 40%;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:10px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-color:black;
    font-size: 14px;
}

header nav ul li p{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: center;
}

section{
	background: url(../imagenes/FondoPagina.jpg)
}	

section h3{
	float: left;
	font-size:25px;
	margin-bottom: 20px;
	margin-right: 250px;
}
section article.intro{
	border-style: solid;
	border-width: 2px;
	border-color: #473A0A;
	display: inline-block;
	font-size:1.2em;
	margin: 50px 0px 20px 10% ;
	position: relative;
	vertical-align: top;
	width: 85%
}

section article.intro figure{
	float:left;
	margin-left:-30px;
	margin-top:-50px;
}

section article.intro figure img{
	border-style: solid;
     border-width: 5px;
     height: 240px;
     width: 280px;
     border-color: #473A0A;
}

/**************COLORES INTRO*********/
section article.intro{
	background-color: #C9B366;

}

section article.intro h3{
	color: #473A0A;
}

section article.intro p{
	color: #6C5B1F;
}
/**************************************/

section nav ul{
padding: 0px;
margin: 0px;
text-align: center;
list-style: none;
}

section nav ul li{
	display: inline-block;
	height:30px;
	width: 20%;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:10px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-color:black;
    font-size: 20px;
}

section nav ul li a{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: bottom;
}

section article.videos{
	border-style: solid;
	border-width: 2px;
	border-color: #473A0A;
	display: inline-block;
	font-size:1.2em;
	margin: 30px 0px 40px 30% ;
	position: relative;
	vertical-align: top;
	width: 45%
}

section article.videos{
	background-color: #C9B366;

}

section article.videos nav ul iframe{
	margin-top: 10px;
	margin-bottom: 40px;
}

section article.videos nav ul p{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: bottom;
}


footer{
	text-align: center;	
	font-size: 1em;
	background: url(../imagenes/FondoPagina.jpg);
}
















  @media screen and (min-width: 480px){
       header nav ul li{
       	width: 22%;
       }

}

   
  @media screen and (min-width: 767px){
  	header nav ul li{
  		width: 8%;
  	}

  }

  @media screen and (min-width: 950px){

	
  }	