body{
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
}

header{
	background-color: #6C5B1F;	
	text-align: right;
}

header figure{
    float:left;
}

header figure img{
	width: 190px;
	height: 190px;
}

header h1{
	color: #D1B226;
	float: left;
	font-size: 55px;
}
header h2{
	color:black;	
	float:left;
	font-size:35px;
	margin-left: -500px;
	margin-top: 200px;	
	
}

header nav ul{
padding: 0px;
margin-bottom: 0px;
margin-left: 900px;
text-align: justify;
list-style: none;
width: 100%;
height: 50%

}

header nav ul li{
	display: inline-block;
	height:140px;
	width: 40%;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top:10px;	
    background-color: #D8C362;
    border-color: #D1B226;
    border-style: solid;
    border-width: 3px; 
    vertical-align: middle;
    font-color:black;
    font-size: 14px;
}

header nav ul li p{
	text-decoration:none;
	font-weight: bold;
	color: black;
	padding: 0px 0px;
	text-align: center;	
}

section{
	background: url(../imagenes/FondoPagina.jpg)
}	

section h3{
	float: left;
	font-size:25px;
	margin-bottom: 20px;
	margin-right: 250px;
}

section article.Ramas{
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	font-size:1.2em;
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
	vertical-align: top;
	width: 45%;		
}
section article.Ramas figure{
	float:left;
	margin-left:-30px;
	margin-top:-50px;
}
section article.Ramas figure img{
     border-style: solid;
     border-width: 5px;
     height: 140px;
     width: 180px;
 }
 section article.Ramas div{
      width: 90%;
      margin:30px 4% 10px 5%;
      border-width: 2px;
      border-style: solid;
      position: relative;
      padding-top: 20px;
      font-size: 1em;
 }
 section article.Ramas div span{
 	position: absolute;
 	top: -15px;
 	left: 10px;
 	line-height: 20px;
 	text-decoration: underline;
 	background-color:black;
 	padding:3px 10px;
 	color: white;	
 }
 section article.Ramas div ul{
 	list-style: none;
 	margin: 0px;
 	padding: 0px;
 }
 section article.Ramas div ul li{
 	font-weight: bolder;
 	vertical-align: middle;
 	display: inline-block;
 	margin:5px 3%;
 	width: 26%;
 }

 section article.Ramas h3{
 	padding:0px;
 	text-align: right;
 	margin-top: -100px;
 	margin-left: 180px;
 	font-size: 1.2em;
 }

 section article.Ramas p{
 	font-size: 1.0em;
 	text-align: justify;
 	margin: 80px 10px 5px 30px
 }

 section article.Ramas span.tipo{
 	color:#D1B226;
 	border-style: solid;	
 	border-width: 2px;
 	font-weight: bolder;
 	height: 30px;
 	line-height: 30px;
 	padding:2px 10px;
 	position: absolute;
 	right: -2px;
 	top:-38px;
 }

 /************COLORES RAMAS**********/
section article.basicas,
section article.basicas figure img,
section article.basicas div,
section article.basicas span.tipo{
	border-color: #473A0A;
}
section article.basicas h3{
	color: #473A0A;
	text-align: right;
}

section article.basicas span.tipo,
section article.basicas div,
section article.basicas div span{
	background-color: #726021;
}

section article.basicas p{
	color: #6C5B1F;
}

section article.basicas{
	background-color: #C9B366;
	height: 1050px;
}

section article.basicas div span,
section article.basicas div ul li{
	color:#A89242;
	margin:0px 5% 5px 10%;
}
/******************************************/
/**************COLORES ESPECIALES***********/
 section article.especiales,
section article.especiales figure img,
section article.especiales div,
section article.especiales span.tipo{
	border-color: #473A0A;
}
section article.especiales h3{
	color: #473A0A;
	text-align: center;
	margin-top: -120px;
 	margin-left: 180px;
}

section article.especiales span.tipo,
section article.especiales div,
section article.especiales div span{
	background-color: #726021;
}

section article.especiales p{
	color: #6C5B1F;
}

section article.especiales{
	background-color: #C9B366;
	width: 45%;
	height: 100%;
}

section article.especiales div span,
section article.especiales div ul li{
	color:#A89242;
	margin:0px 5% 0px 10%;
}
/*************************************************/
/*************COLORES OTRAS*********************/

 section article.otras,
section article.otras figure img,
section article.otras div,
section article.otras span.tipo{
	border-color: #473A0A;
}
section article.otras h3{
	color: #473A0A;
	text-align: center;
	margin-top: -120px;
 	margin-left: 180px;
}

section article.otras span.tipo,
section article.otras div,
section article.otras div span{
	background-color: #726021;
}

section article.otras p{
	color: #6C5B1F;
	text-align: justify;
	font-size: 28px;
}

section article.otras{
	background-color: #C9B366;
	margin-left: 710px;
	margin-top: -395px;
	
}

section article.otras div span,
section article.otras div ul li{
	color:#A89242;
	margin:0px 5% 5px 10%;

}

footer{
	text-align: center;	
	font-size: 1em;
	background: url(../imagenes/FondoPagina.jpg);
}



















  @media screen and (min-width: 480px){
       header nav ul li{
       	width: 22%;
       }

}

   
  @media screen and (min-width: 767px){
  	header nav ul li{
  		width: 8%;
  	}

  }

  @media screen and (min-width: 950px){
	
  }	